* {
   box-sizing: border-box;
}

html {
  height: 100%;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
}

body {
  position: relative;
  min-width: 320px;
  max-width: 1280px;
  min-height: 100%;
  margin: 0 auto;
  background-color: rgb(189, 190, 192);
  overflow-y: scroll;
}

.page-main {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 90%;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.page-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.container {
  background-color: white;
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 0 0 5px 5px black;
}

.authorization {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 20px 10px;
  width: 240px;
  height: 250px;
}

.authorization__title {
  margin-bottom: 0;
}

.authorization__form {
  width: 100%;
  height: 250px;
}

.container__title {
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
}

.contacts__title {
  margin-bottom: 30px;
}

.form__item {
  margin: 25px 0;
  width: 255px;
}

.authorization__item {
  position: relative;
}

.form__item-input {
  width: 195px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
  outline: none;
}

.authorization__clue-login,
.authorization__clue-password {
  position: absolute;
  top: 10px;
  color: red;
}

.authorization__buttons {
  margin-top: 15px;
  width: 180px;
  border: none;
  display: flex;
  justify-content: space-between;
}

.authorization__button {
  border: 2px solid black;
  border-radius: 5px;
  padding: 3px;
  cursor: pointer;
}

.authorization__link {
  color: black;
}

.contacts {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  max-width: 570px;
  min-width: 550px;
  min-height: calc(100vh - 70px);
  padding: 20px;
  margin: 20px;
}

.contacts__main {
  width: 100%;
  padding: 10px;
}

.contacts__title {
  text-align: start;
  margin-left: 10px;
}

.contacts__username {
  margin-left: 10px;
  margin-bottom: 20px;
}

.contacts__search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
  padding-right: 5px;
}

.new-contact-button {
  width: 255px;
  margin-left: 5px;
  margin-bottom: 20px;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
}

.contacts__loading-error {
  color: red;
  text-align: center;
}

.contact-item {
  border: 1px solid gray;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.contact-item:hover {
  background-color: rgb(202, 198, 198);
}

.contact-item-name {
  padding: 10px;
  margin: 0;
}

.contacts__info {
  width: 100%;
  max-width: 250px;
  border: 2px solid black;
  padding: 10px;
  border-radius: 5px;
  min-height: 100%;
}

.contacts__info-title {
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
}

.contact-info__input {
  font-family: inherit;
  font-size: 16px;
  padding: 3px;
  width: 200px;
  border: 1px solid black;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 14px;
}

.contact-info__button {
  width: 100%;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}
